.chat-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 40px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages-container {
    width: 100%;
    max-height: 300px;
    overflow: auto;
    margin-bottom: 10px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.message-time {
    font-size: 0.75rem;
    color: gray;
    margin-left: 10px;
}

form.chat-textbox {
    flex: 0;
    width: 100%;
}

button {
    margin-left: 10px;
}

.mat-form-field {
    width: 100%;
    height: 100%;
}

mat-icon {
    font-size: 24px;
}

mat-card {
    width: 100%;
    margin-bottom: 10px;
    background-color: gainsboro;
}
