<div class="chat-container">
    <div class="messages-container">
        <ng-container *ngFor="let message of messages">
            <mat-card *ngIf="message.visible" [@fade]="true">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{ message.sender }}</mat-card-title>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>{{ message.text }}</mat-card-content>
            </mat-card>
        </ng-container>
    </div>
    <form class="chat-textbox" #messageForm="ngForm">
        <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea
                #textbox
                matInput
                name="newMessage"
                [(ngModel)]="text"
                style="resize: none"
                (click)="onChatClick()"
                (keydown.enter)="onChatEnterPressed($event)"
            ></textarea>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>
