<div class="container">
    <ng-template #showTotalTime>
        <p>{{ totalTime }}</p>
    </ng-template>

    <div class="spinner-container">
        <mat-progress-spinner
            *ngIf="time | async as time; else showIdleWheel"
            [color]="answerLocked ? 'warn' : 'primary'"
            mode="determinate"
            [value]="(time / totalTime) * 100"
        ></mat-progress-spinner>
        <ng-template #showIdleWheel>
            <mat-progress-spinner color="warn" mode="determinate" value="100"></mat-progress-spinner>
        </ng-template>
        <p *ngIf="time | async as time; else showIdleTime" class="centered-text">{{ time }} SEC</p>
        <ng-template #showIdleTime>
            <p class="centered-text">TIME'S UP!</p>
        </ng-template>
    </div>
</div>
