<div class="container">
    <ng-template #showTotalTime>
        <p>{{ totalTimer }}</p>
    </ng-template>

    <div class="spinner-container">
        <mat-progress-spinner
            *ngIf="!timerExpired; else showIdleWheel"
            [color]="answerLocked ? 'warn' : 'primary'"
            mode="determinate"
            [value]="(timerCountdown / totalTimer) * 100"
        ></mat-progress-spinner>
        <ng-template #showIdleWheel>
            <mat-progress-spinner color="warn" mode="determinate" value="100"></mat-progress-spinner>
        </ng-template>
        <p *ngIf="!timerExpired; else showIdleTime" class="centered-text">{{ timerCountdown }} SEC</p>
        <ng-template #showIdleTime>
            <p class="centered-text">TIME'S UP!</p>
        </ng-template>
    </div>
</div>
