<div class="container">
    <h2>Débutez une minuterie de 30 secondes</h2>
    <button (click)="handleOnTimerClick()">Commencer</button>

    <p *ngIf="time$ | async as time; else showTotalTime">{{ time }}</p>
    <ng-template #showTotalTime
        ><p>{{ totalTime }}</p></ng-template
    >

    <mat-progress-spinner *ngIf="time$ | async as time" color="primary" mode="determinate" [value]="(time / totalTime) * 100"></mat-progress-spinner>
    <mat-progress-spinner *ngIf="!(time$ | async)" color="primary" mode="determinate" value="100"></mat-progress-spinner>
</div>
