#menu-bar {
    height: 100%;
}
.large-bar-spacer {
    flex: 1 1 auto;
}

.top-bar-text {
    font-size: 1.5em;
    font-weight: bold;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50px 35% 65%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'top-bar top-bar top-bar'
        'live-chat timer score'
        'live-chat question score';
}

.top-bar {
    grid-area: top-bar;
}

.live-chat {
    grid-area: live-chat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question {
    display: flex;
    grid-area: question;
    justify-content: center;
    align-items: center;
    padding-bottom: 50%;
}

.score {
    margin-top: 20%;
    grid-area: score;
}

.timer {
    grid-area: timer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
