<div class="container">
    <div class="top-bar">
        <mat-toolbar color="primary" id="menu-bar">
            <button mat-icon-button color="white" aria-label="Example icon button with a home icon" (click)="handleGameLeave()">
                <mat-icon>logout</mat-icon>
            </button>
            <span class="large-bar-spacer"></span>
            <span class="top-bar-text">Question {{ currentQuestionIndex + 1 }}/{{ gameData.questions.length }}</span>
            <span class="large-bar-spacer"></span>
            <span class="top-bar-text">{{ gameData.title }}</span>
        </mat-toolbar>
    </div>
    <div class="live-chat">
        <app-game-page-livechat [playerName]="currentPlayerName" id="sidebar"></app-game-page-livechat>
    </div>
    <div class="timer">
        <app-game-page-timer [timerCountdown]="timerCountdown" [totalTimer]="gameData.duration"></app-game-page-timer>
    </div>
    <div class="question" *ngIf="gameData">
        <app-game-page-questions
            [question]="getCurrentQuestion().text || ''"
            [mark]="getCurrentQuestion().points || 0"
            [choices]="getCurrentQuestion().choices || []"
            [timerExpired]="questionHasExpired"
            (answerIdx)="setAnswerIndex($event)"
            [answerIsCorrect]="answerIsCorrect"
        ></app-game-page-questions>
    </div>
    <div class="score">
        <app-game-page-scoresheet [playerList]="lobbyData.playerList"></app-game-page-scoresheet>
    </div>
</div>
