
<div *ngIf="isHost">
    <p>Je suis administrateur</p>
</div>
<div class="container">
    <div class="top-bar">
        <mat-toolbar color="primary" id="menu-bar">
            <button mat-icon-button color="white" aria-label="Example icon button with a home icon" (click)="handleGameLeave()">
                <mat-icon>logout</mat-icon>
            </button>
            <span class="large-bar-spacer"></span>
            <span class="top-bar-text">Question {{ currentQuestionIndexValue + 1 }}/{{ currentGameLength }}</span>
            <span class="large-bar-spacer"></span>
            <span class="top-bar-text">{{ currentGameTitle }}</span>
        </mat-toolbar>
    </div>
    <div class="live-chat">
        <app-game-page-livechat [playerName]="currentPlayerNameValue" id="sidebar"></app-game-page-livechat>
    </div>
    <div  *ngIf="!isHost" class="timer">
        <app-game-page-timer [timerCountdown]="currentTimerCountdown" [totalTimer]="totalGameDuration"></app-game-page-timer>
    </div>
    <div class="question" *ngIf="!endGame">
        <app-game-page-questions
            [question]="currentQuestion.text || ''"
            [mark]="currentQuestion.points || 0"
            [choices]="currentQuestion.choices || []"
            [timerExpired]="questionHasExpiredValue"
            (answerIdx)="setAnswerIndex($event)"
            [answerIsCorrect]="answerIsCorrectValue"
        ></app-game-page-questions>
    </div>
    <button mat-raised-button color="primary" class="results" *ngIf="endGame" routerLink="/resultsView">Voir les résultats</button>

    <div class="score" *ngIf="lobby">
        <app-game-page-scoresheet [playerList]="playerListValue"></app-game-page-scoresheet>
    </div>
</div>
