<div class="container">
    <mat-toolbar color="primary" id="top-bar">
        <button mat-icon-button color="white" aria-label="Example icon button with a home icon" routerLink="/home">
            <mat-icon>home</mat-icon>
        </button>
        <span class="large-bar-spacer"></span>
        <span class="top-bar-text">Question {{ currentQuestion }}/{{ totalQuestions }}</span>
        <span class="large-bar-spacer"></span>
        <span class="top-bar-text">{{ gameName }}</span>
    </mat-toolbar>
    <app-sidebar id="sidebar"></app-sidebar>
    <!--<section class="play-area-container">-->
    <!--<app-play-area class="play-area" tabindex="0"></app-play-area>-->
    <!--</section>-->
    <app-game-page-questions [question]="questions[0]" [answers]="answers[0]"></app-game-page-questions>
</div>
