<div *ngFor="let answer of answerCountsArray">
    <h3>{{ answer.key }}</h3>
    <ul>
        <li *ngFor="let count of answer.value | keyvalue">{{ count.key.text }}: {{ count.value }}</li>
    </ul>
</div>

<ngx-charts-bar-vertical
    [view]="view"
    [results]="histogramData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
>
</ngx-charts-bar-vertical>
