.question {
    justify-content: center;
    text-align: center;
}

.graphic {
    width: auto;
    height: auto;
}

.navigation {
    justify-content: center;
    text-align: center;
}
.histogram-container:before, .histogram-container:after {
    content: none;
}