<div *ngIf="!nbModified">
    <div *ngFor="let histogram of histogramsData; let i = index" [hidden]="i !== currentIndex">
        <h3 div="question">{{ histogram.question }}</h3>

        <ngx-charts-bar-vertical
            class="graphic"
            [view]="view"
            [results]="histogram.data"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="questionsGame[i].type === 'QRL' ? 'Facteurs multiplicatifs' : 'Choix de réponses'"
            [yAxisLabel]="questionsGame[i].type === 'QRL' ? 'Nombre de joueur' : 'Nombre de votes'"
        >
        </ngx-charts-bar-vertical>
        <div class="navigation">
            <button mat-icon-button class="buttonIcon" color="primary" (click)="navigate(-1)" *ngIf="i > 0">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-icon-button class="buttonIcon" color="primary" (click)="navigate(1)" *ngIf="i < histogramsData.length - 1">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</div>
<!-- <div *ngIf="nbModified">
    <div *ngFor="let histogram of dataQrl">
        <ngx-charts-bar-vertical
            class="graphic"
            [view]="view"
            [results]="histogram.data"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
        >
        </ngx-charts-bar-vertical>
    </div>
</div> -->
