<div id="newQuestion">
    <div id="buttonAdd" *ngIf="!fromBank">
        <button type="button" mat-raised-button color="accent" (click)="createQuestionShown = true">Créer Question</button>
        <button type="button" mat-raised-button color="accent" (click)="this.addFromQuestionBank = true">Ajouter de la banque de question</button>
    </div>
    <div id="createQuestion" *ngIf="createQuestionShown || fromBank">
        <p>Ajouter des questions:</p>
        <mat-form-field>
            <mat-label>Question</mat-label>
            <input matInput [(ngModel)]="question.text" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre de points</mat-label>
            <input matInput type="number" value="10" min="10" max="100" step="10" [(ngModel)]="question.points" />
        </mat-form-field>
        <div>
            <label>Ajouter à la banque de question</label>
            <input type="checkbox" [(ngModel)]="addBankQuestion" />
        </div>
        <p>Choix de reponse:</p>
        <app-choice (registerAnswer)="addQuestion($event, fromBank)"> </app-choice>
        <button type="button" mat-raised-button color="warn" (click)="createQuestionShown = false">Fermer</button>
    </div>
</div>

<div id="bank" *ngIf="addFromQuestionBank">
    <app-question-bank [fromCreateNewGame]="addFromQuestionBank" (registerQuestion)="addQuestionFromBank($event)"> </app-question-bank>
    <button type="button" mat-raised-button color="warn" (click)="this.addFromQuestionBank = false">Fermer</button>
</div>
