#newQuestion {
    padding-right: 15px;
    width: 110%;
}

#buttonAdd {
    display: flex;
    flex-direction: row;
}
#bank {
    border: solid green;
    display: flex;
    flex-direction: row;
}

#createQuestion {
    border: solid blue;
}
