#newQuestion {
    padding-right: 15px;
    width: 100%;
    // border: solid green;
}

#buttonAdd {
    display: flex;
    flex-direction: row;
}
#bank{
    border: solid green;
    display: flex;
    flex-direction: row;
}

#createQuestion{
    border: solid blue;
}
