.answerPlayer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: cornflowerblue;
}

.answer-player {
    font-weight: bold;
}

.answer-text {
    word-wrap: break-word;
    white-space: normal;
}
