.answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answerPlayer {
    margin: 10px 0;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    overflow: hidden;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.answer-player {
    margin-bottom: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.answer-text {
    margin-bottom: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}
