.container {
    display: flex;
    flex-direction: column; /* Aligns children (header and modifyingComponent) vertically */
}



#title {
    margin: 0;
}

#modifyingComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Remove or adjust height: 100vh; if you want a natural flow */
    padding: 20px; /* Adjust padding as needed */
}

/* Optional: Add styles for better visual appearance */
app-modified-question {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#menu-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}
.title {
    font-size: 1.5em;
    font-weight: bold;
  }
