.questions {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: center;
}

#menu-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}
#filtre{
    font-weight: bold;
    font-size: 1em;

}
.title {
    font-size: 1.5em;
    font-weight: bold;
  }

.title {
    margin-right: 20px; 
}

.button {
    margin-left: auto; 
}

.mat-cell.delete-cell {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-cell.delete-cell button {
    width: 80%; 
}
#registerBank{
    margin-bottom: 10px;
    margin-left: 10px;
}
