<header *ngIf="!fromCreateNewGame">
    <div class="top-bar">
        <mat-toolbar color="primary" id="menu-bar">
            <button mat-icon-button color="white" aria-label="Example icon button with a home icon" routerLink="/home">
                <mat-icon>home</mat-icon>
            </button>
            <span class="title">Banque de Question</span>
            
            <button mat-icon-button color="white" aria-label="Example icon button with an add icon" routerLink="/new-question-qbank">
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar>
    </div>
</header>

<button id="filtre"mat-button [matMenuTriggerFor]="menu">Filtrer</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="filter('QCM')">QCM</button>
    <button mat-menu-item (click)="filter('QRL')">QRL</button>
    <button mat-menu-item (click)="filter()">Toutes les questions</button>
</mat-menu>

<table mat-table [dataSource]="filteredQuestions" class="questions">
    <!-- Question Column -->
    <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef>Question</th>
        <td mat-cell *matCellDef="let element">{{ element.text }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <ng-container matColumnDef="modify">
        <th mat-header-cell *matHeaderCellDef>Modifier</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/modify-question-qbank', element.id]"><mat-icon>settings</mat-icon></button>
        </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Dernière Modification</th>
        <td mat-cell *matCellDef="let element">{{ formatDate(element.lastModification) }}</td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="!fromCreateNewGame">
                <button mat-icon-button (click)="deleteQuestion(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div *ngIf="fromCreateNewGame">
                <input (change)="onChange(element)" type="checkbox" value="{{ element }}" />
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
</table>

<div id="registerBank"*ngIf="fromCreateNewGame">
    <button type="button" mat-raised-button color="accent" (click)="addQuestionToGame()">Enregistrer les questions</button>
</div>
