<header>
    <p class="title">Banque de Question</p>
    <div *ngIf="!fromCreateNewGame">
        <button class="button" routerLink="">Nouvelle Question</button>
        <button class="button" routerLink="/home">Home</button>
    </div>   
</header>

<table mat-table [dataSource]="dataSource" class="questions">
    <!-- Question Column -->
    <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef>Question</th>
        <td mat-cell *matCellDef="let element">{{ element.text }}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Dernière Modification</th>
        <td mat-cell *matCellDef="let element">{{ element.lastModification }}</td>
    </ng-container>

    <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="!fromCreateNewGame">
                    <button mat-icon-button (click)="deleteQuestion(element.id)">Supprimer</button>
                </div>
                <div *ngIf="fromCreateNewGame">
                    <input type="checkbox" value="{{element}}" />
                </div>

            </td>
        </ng-container>
    
        <!-- Modify Column -->
        <ng-container matColumnDef="modify">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="!fromCreateNewGame">
                    <button mat-icon-button (click)="modifyQuestion()">Modifier</button>
                </div>
            </td>
        </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
</table>
<div *ngIf="fromCreateNewGame">
    <button (click)="addQuestionToGame()">Enregistrer les questions</button>
</div>
