<div class="top-bar">
    <mat-toolbar color="primary" id="menu-bar">
        <button mat-icon-button color="white" aria-label="Example icon button with a home icon" routerLink="/home" (click)="backHome()">
            <mat-icon>home</mat-icon>
        </button>
        <span class="large-bar-spacer"></span>
        <span class="top-bar-text">Création d'une partie</span>
        <span class="large-bar-spacer"></span>
    </mat-toolbar>
</div>
<h1 id="title">Liste des jeux</h1>
<mat-card>
    <mat-card-header>
        <mat-card-title><b>Partie aléatoire</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><b>Description: Générez une partie de 5 questions aléatoires</b></p>
        <p><b>Temps alloué par questions:</b> 20 secondes</p>
        <p><b>Questions:</b> Surprise!</p>
        <button mat-raised-button color="primary" (click)="launchRandomGame()">Lancer une partie</button>
    </mat-card-content>
</mat-card>
<mat-card *ngFor="let gameVisible of gamesVisible">
    <mat-card-header (click)="selected(gameVisible)" id="{{ gameVisible.id }}">
        <mat-card-title
            ><b>{{ gameVisible.title }}</b></mat-card-title
        >
    </mat-card-header>
    <mat-card-content *ngIf="gameSelected[gameVisible.id] === true">
        <p><b>Description:</b> {{ gameVisible.description }}</p>
        <p><b>Temps alloué par questions:</b> {{ gameVisible.duration }}</p>
        <p><b>Questions:</b></p>
        <p *ngFor="let question of gameVisible.questions">- {{ question.text }}</p>
        <button mat-raised-button color="primary" (click)="launchGameTest(gameVisible)">Tester le jeu</button>
        <button mat-raised-button color="accent" (click)="launchGame(gameVisible)">Lancer une partie</button>
    </mat-card-content>
</mat-card>
