<div class="top-bar">
    <mat-toolbar color="accent" id="menu-bar">
        <button mat-icon-button color="white" aria-label="Example icon button with a home icon" routerLink="/home" (click)="backHome()">
            <mat-icon>home</mat-icon>
        </button>
        <span class="large-bar-spacer"></span>
        <span class="top-bar-text">Création d'une partie</span>
        <span class="large-bar-spacer"></span>
    </mat-toolbar>
</div>
<h1 id="title">Liste des jeux</h1>
<mat-card>
    <mat-card-header>
        <mat-card-title><b>Partie aléatoire</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><b>Description: Générez une partie de 5 questions aléatoires</b></p>
        <p><b>Temps alloué par questions:</b> 20 secondes</p>
        <p><b>Questions:</b> Surprise!</p>
        <button mat-raised-button color="primary" (click)="launchRandomGame()">Lancer une partie</button>
    </mat-card-content>
</mat-card>
<mat-card *ngFor="let game of games">
    <mat-card-header *ngIf="game.isVisible" (click)="selected(game)" id="{{ game.id }}">
        <mat-card-title
            ><b>{{ game.title }}</b></mat-card-title
        >
    </mat-card-header>
    <mat-card-content *ngIf="gameSelected[game.id] === true">
        <p><b>Description:</b> {{ game.description }}</p>
        <p><b>Temps alloué par questions:</b> {{ game.duration }}</p>
        <p><b>Questions:</b></p>
        <p *ngFor="let question of game.questions">- {{ question.text }}</p>
        <button mat-raised-button color="primary" (click)="launchGameTest(game)">Tester le jeu</button>
        <button mat-raised-button color="accent" (click)="launchGame(game)">Lancer une partie</button>
    </mat-card-content>
</mat-card>
