mat-card {
    width: 75%;
}
button #bannedPlayer {
    width: 15%;
    height: 55%;
    background-color: #04aa6d;
    color: white;
    text-align: center;
    display: flex;
    font-size: 16px;
    cursor: pointer;
}

.goneplayers {
    text-decoration: line-through;
}

.mat-sort-header-disabled .mat-sort-header-arrow,
.mat-sort-header-disabled .mat-sort-header-indicator {
    display: none;
}
