<div class="container">
    <header class="header">
        <img src="../../../assets/Hibou.png" class="logo" alt="Logo Hibou" />
        <h1>PolyGames</h1>
    </header>
    <section class="server-message justified">
        <button class="button">Joindre une partie</button>
        <button class="button" routerLink="/new-game">Créer une partie</button>
        <button class="button" (click)="openAdminDialog()">Administrer les jeux</button>
        <button class="button" routerLink="/question-bank">Banque de Question</button>
        <button class="button" (click)="openDialog()">Jouer!</button>
        <button class="button" routerLink="/create-qgame">Créer jeu questionnaire (TEST)</button>
        <button class="button" routerLink="/modifying-qgame">modifier jeu-questionnaire</button>
    </section>
    <footer class="footer">
        <h4 class="team-name">Équipe 102</h4>
        <p class="team-members">Julie Bergeron, Gabriel Comby, Alexane Dion, Pierre-Emmanuel Goffi, Julianne D'Aoust, Maxime Savy</p>
    </footer>
</div>
