<h2 mat-dialog-title>Enter Your Name</h2>
<div mat-dialog-content>
    <mat-form-field *ngIf="showLobbyCodePrompt">
        <input matInput [(ngModel)]="lobbyCode" placeholder="Your friend's lobby code" />
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="userName" placeholder="Your Name" />
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onSubmit()">Submit</button>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
</div>
