<div class="container">
    <div class="top-bar">
        <mat-toolbar color="primary" id="menu-bar">
            <button mat-icon-button color="white" aria-label="Example icon button with a home icon" (click)="handleGameLeave()">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <app-game-page-scoresheet class="score" [playerList]="playerList"></app-game-page-scoresheet>
    <app-game-page-livechat class="live-chat" [playerName]="currentPlayerName" [isHost]="isHost">></app-game-page-livechat>
    <div class="lobby-info">
        <p class="lobby-text">Code pour rejoindre le match: {{ lobbyCode }}</p>
    </div>
    <div *ngIf="isHost === true" class="start-game">
        <h2>Bonjour host!</h2>
        <div *ngIf="this.playerList.length !== 0">
            <button mat-raised-button color="accent" (click)="handleGameLaunch()">Démarrer la partie!</button>
        </div>
        <h2>Tu veux verouiller la partie?</h2>
        <mat-slide-toggle (change)="makeLocked(lobbyCode, lockStatus)"> </mat-slide-toggle>
        <h2>Qui veut tu banir?</h2>
        <div *ngFor="let player of players">
            <div *ngIf="this.bannedFromGame.indexOf(player.name) === -1">
                <div>
                    {{ player.name }}
                    <button id="bannedPlayer" type="checkbox" (click)="makeBannedPlayer(player.name)">banir</button>
                </div>
            </div>
        </div>
    </div>
</div>
