#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.question-point-div {
    text-align: center;
    margin-bottom: 50px;
}

h1.correct-answer {
    color: #4caf50;
}

h1.wrong-answer {
    color: #f44336;
}

h1.partial-answer {
    color: #ff9800;
}

.button-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 16px;

    button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        transition:
            background-color 0.3s,
            color 0.3s; // Smooth transition for color changes

        &.selected-answer {
            background-color: #1976d2;
            color: white;
        }

        &.correct-answer {
            background-color: green !important;
            color: white;
        }

        &.wrong-answer {
            background-color: red !important;
            color: white;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}
