#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.question-point-div {
    text-align: center;
    margin-bottom: 50px;
}
