<div id="container" *ngIf="choices">
    <div class="question-point-div">
        <h1
            (change)="onQuestionChange()"
            [class.correct-answer]="timerExpired && answerGivenIsCorrect"
            [class.wrong-answer]="timerExpired && !answerGivenIsCorrect"
        >
            {{ question }}
        </h1>
        <h2>{{ mark }} points</h2>
    </div>
    <mat-chip-listbox
        aria-label="Question answers"
        class="custom-chip-listbox"
        [multiple]="checkIfMultipleChoice()"
        [(ngModel)]="selectedChoices"
        (change)="onSelectionChange()"
    >
        <mat-chip-option
            *ngFor="let choice of choices"
            [value]="choice"
            [disabled]="timerExpired"
            [class.correct-answer]="timerExpired && choice.isCorrect"
            [class.wrong-answer]="timerExpired && !choice.isCorrect"
        >
            {{ choice.text }}
        </mat-chip-option>
    </mat-chip-listbox>
</div>
