<div id="container">
    <h1>{{ question }}</h1>
    <mat-chip-listbox aria-label="Question answers" class="custom-chip-listbox">
        <mat-chip-option [disabled]="timerExpired">{{ answers[0] }}</mat-chip-option>
        <mat-chip-option [disabled]="timerExpired">{{ answers[1] }}</mat-chip-option>
        <mat-chip-option [disabled]="timerExpired">{{ answers[2] }}</mat-chip-option>
        <mat-chip-option [disabled]="timerExpired">{{ answers[3] }}</mat-chip-option>
    </mat-chip-listbox>
</div>
