<div cdkDropList class="container">
    <div *ngIf="!question">
        <ng-container *ngFor="let answer of answers; let i = index">
            <div class="answer-container">
                {{ i + 1 }}.
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="answer.text" placeholder="Entrer une réponse" />
                </mat-form-field>
                <mat-checkbox [(ngModel)]="answers[i].isCorrect">Correct</mat-checkbox>
                <button mat-icon-button (click)="removeChoice(i, answers)">
                    <mat-icon>remove_circle_outline</mat-icon>
                </button>
                <button mat-icon-button class="buttonIcon" color="primary" aria-label="Move Up" (click)="moveQuestionUp(i, answers)" *ngIf="i > 0">
                    <mat-icon>arrow_upward_alt</mat-icon>
                </button>

                <button
                    mat-icon-button
                    class="buttonIcon"
                    color="primary"
                    aria-label="Move Down"
                    (click)="moveQuestionDown(i, answers)"
                    *ngIf="i < answers.length - 1"
                >
                    <mat-icon>arrow_downward_alt</mat-icon>
                </button>
            </div>
        </ng-container>
        <button mat-mini-fab class="buttonIcon" color="accent" aria-label="add" (click)="addChoice(answers)">
            <mat-icon>add</mat-icon>
        </button>

        <div id="addQuestionButton">
            <button mat-raised-button color="accent" id="add" (click)="addAnswer()">Ajouter la question</button>
        </div>
    </div>
</div>

<div *ngIf="question">
    <ng-container *ngFor="let answer of question; let i = index">
        <div class="answer-container">
            {{ i + 1 }}.
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="answer.text" placeholder="Entrer une réponse" />
            </mat-form-field>
            <mat-checkbox [(ngModel)]="answer.isCorrect">Correct</mat-checkbox>
            <button mat-icon-button (click)="removeChoice(i, question)">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>

            <button mat-icon-button class="buttonIcon" color="primary" aria-label="Move Up" (click)="moveQuestionUp(i, question)" *ngIf="i > 0">
                <mat-icon>arrow_upward_alt</mat-icon>
            </button>

            <button
                mat-icon-button
                class="buttonIcon"
                color="primary"
                aria-label="Move Down"
                (click)="moveQuestionDown(i, question)"
                *ngIf="i < question.length - 1"
            >
                <mat-icon>arrow_downward_alt</mat-icon>
            </button>
        </div>
    </ng-container>
    <button mat-mini-fab class="buttonIcon" color="accent" aria-label="add" (click)="addChoice(question)">
        <mat-icon>add</mat-icon>
    </button>
</div>
