<div>
    <form>
        <ng-container *ngFor="let answer of answers; let i = index">
            <div class="answer-container">
                {{ i + 1 }}.
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="answers[i].text" name="answerGroup" placeholder="Entrer une réponse" />
                </mat-form-field>
                <mat-checkbox [(ngModel)]="answers[i].isCorrect" name="correctGroup">Correct</mat-checkbox>
                <button mat-icon-button *ngIf="answers.length > 2">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
            </div>
        </ng-container>
    </form>
    <button mat-raised-button (click)="addAnswer()" color="accent" class="add">Ajouter</button>
</div>

