@use 'sass:math';

$base-font-size: 16;

@function px-to-em($pixels, $context: $base-font-size) {
    @return math.div($pixels, $context) * 1em;
}

#menu-bar {
    height: 100%;
}

.large-bar-spacer {
    flex: 1 1 auto;
}

.top-bar-text {
    font-size: px-to-em(24);
    font-weight: bold;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: px-to-em(50) 35% 15% 40%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'top-bar top-bar top-bar'
        'QRL timer score'
        '. button-game game-control'
        'live-chat histogram question';
}

.top-bar {
    grid-area: top-bar;
}

.QRL {
    grid-area: QRL;
    max-width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    margin-top: px-to-em(20);
    overflow-y: visible;
    white-space: normal;
    word-wrap: break-word;
}

.button-game {
    grid-area: button-game;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-control {
    grid-area: game-control;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.histogram {
    grid-area: histogram;
    display: flex;
    justify-content: center;
}

.live-chat {
    grid-area: live-chat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question {
    display: flex;
    grid-area: question;
    justify-content: center;
    align-items: center;
    padding-bottom: px-to-em(30);
    margin-top: px-to-em(-20);
}

.score {
    margin-top: px-to-em(50);
    grid-area: score;
}

.timer {
    grid-area: timer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: px-to-em(16);
    margin-top: px-to-em(30);
}
