<div class="container">
    <div class="top-bar">
        <mat-toolbar color="primary" id="menu-bar">
            <button mat-icon-button color="white" aria-label="Example icon button with a home icon" (click)="handleGameLeave()">
                <mat-icon>logout</mat-icon>
            </button>
            <span class="large-bar-spacer"></span>
            <span class="top-bar-text">Question {{ currentQuestionIndexValue + 1 }}/{{ nbrOfQuestions }}</span>
            <span class="large-bar-spacer"></span>
            <span class="top-bar-text">Organisateur</span>
            <span class="large-bar-spacer"></span>
            <span class="top-bar-text">{{ currentGameTitle }}</span>
        </mat-toolbar>
    </div>
    <div class="live-chat" *ngIf="!isLaunchTimer">
        <app-game-page-livechat [playerName]="'Organisateur'" id="sidebar" [isHost]="isHost" [roomId]="lobbyCode"></app-game-page-livechat>
    </div>
    <div class="timer">
        <app-game-page-timer [timerCountdown]="currentTimerCountdown" [totalTimer]="totalGameDuration"></app-game-page-timer>
    </div>
    <div class="question" *ngIf="currentQuestion">
        <app-game-page-questions
            [isHost]="true"
            [question]="currentQuestion.text || ''"
            [mark]="currentQuestion.points || 0"
        ></app-game-page-questions>
    </div>
    <div class="score" *ngIf="!isLaunchTimer">
        <app-game-page-scoresheet [isHost]="true" [playerList]="playerList" [playerLeftList]="playerLeftList"></app-game-page-scoresheet>
    </div>
        <div class="QRL" *ngIf="!isLaunchTimer && currentQuestion?.type === 'QRL' && answersQRL">
            <app-game-qrl-answer
                *ngIf="answersQRL && answersQRL.length > currentQuestionIndexValue && answersQRL[currentQuestionIndexValue][1]"
                [answersQRL]="answersQRL[currentQuestionIndexValue][1]"
                (selectedValuesEmitter)="setplayerPointsQRL($event)"
                (isNotedEmitter)="setIsNoted($event)"
            ></app-game-qrl-answer>
        </div>
        <!-- <div class="histogram" *ngIf="!isLaunchTimer && currentQuestion?.type === 'QCM'">
        <app-histogram [answersPlayer]="answersClicked" [questionsGame]="currentQuestionArray"></app-histogram>
    </div> -->
        <div class="buttonGame" *ngIf="isNoted">
            <button
                mat-raised-button
                color="primary"
                class="nextQuestion"
                *ngIf="timerStopped && currentQuestionIndexValue + 1 === nbrOfQuestions"
                (click)="nextQuestion()"
            >
                Voir les résultats
            </button>
            <button
                mat-raised-button
                color="primary"
                class="nextQuestion"
                *ngIf="timerStopped && currentQuestionIndexValue + 1 !== nbrOfQuestions"
                (click)="nextQuestion()"
            >
                Prochaine question
            </button>
        </div>
    </div>
</div>
