<div class="container">
    <div class="top-bar">
        <mat-toolbar color="primary" id="menu-bar">
            <button mat-icon-button color="white" aria-label="Example icon button with a home icon" routerLink="/home">
                <mat-icon>logout</mat-icon>
            </button>
            <span class="large-bar-spacer"></span>
            <span class="top-bar-text">Question Oui/Essai</span>
            <span class="large-bar-spacer"></span>
            <span class="top-bar-text">Administrateur</span>
        </mat-toolbar>
    </div>
</div>
