div {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px; /* Adjust margin as needed for spacing */
    max-width: 400px; /* Set a maximum width for the container */
    display: flex;
    align-items: center;
    background-color: red;
}

form.chat-textbox {
    flex: 1;
    margin-right: 10px; /* Adjust margin as needed for spacing between form and button */
    height: 100%;
}

button {
    margin: 0;
}

.mat-form-field {
    width: 100%;
    height: 100%;
}

mat-icon {
    font-size: 24px; /* Adjust font size as needed */
}
