.container {
    background-color: lightcoral;
    height: 100%;
    padding: 15px;
    margin-bottom: 10px;
    
}
#list{
    padding: 15px;
}
#disabled {
    display: flex;
    flex-direction: column;
}

.buttonIcon {
    margin: 5px;
}
input[type='text'],
textarea {
    background-color: rgba(255, 255, 255, 0.75);
}
.input_edit {
}
