.container {
    background-color: lightcoral;
    height: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
#disabled {
    display: flex;
    flex-direction: column;
}

.buttonIcon {
    margin: 5px;
}
