.container {
    background-color: lightcoral;
    height: 100%;
    padding: 15px;
    margin-bottom: 10px;
}
#list {
    padding: 15px;
    width: auto;
    margin-left: 50px;
}
#disabled {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin: 10px;
}

.buttonIcon {
    margin: 5px;
}

.question-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 400px;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}

input[type='text'],
textarea {
    background-color: rgba(255, 255, 255, 0.75);
}
