<div cdkDropList (cdkDropListDropped)="drop($event)">
    Liste de question:
    <div *ngFor="let question of questionList; index as i" cdkDrag>
        <div class="container">
            <div *ngIf="disabled[i]">
                {{ i }}
                <p>Question:{{ question.text }}</p>
                <p>Nombre de point:{{ question.points }}</p>
                <div *ngIf="question.choices">
                    Choix de réponse:
                    <div *ngFor="let element of question.choices; index as j">{{ j }}-{{ element.text }}
                </div>
                </div>
            </div>
            <div *ngIf="!disabled[i]" id="disabled">
                Question:<input class="input_edit" type="text" [(ngModel)]="question.text" /> Nombre de points:<input
                    class="input_edit"
                    type="text"
                    [(ngModel)]="question.points"
                />
                Choix de réponse:
                <div *ngFor="let element of question.choices; index as j">
                    {{ j }}-<input class="input_edit" type="text" [(ngModel)]="element.text" />
                    <button mat-icon-button (click)="removeChoice(j)">
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                    <mat-checkbox [(ngModel)]="element.isCorrect" name="correctGroup">Correct</mat-checkbox>
                </div>
            </div>

            <button mat-mini-fab class="buttonIcon" color="primary" aria-label="Delete" (click)="removeQuestion(question)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab class="buttonIcon" color="primary" aria-label="Edit" (click)="disabled[i] ? toggleModify(i) : saveQuestion(i)">
                <mat-icon>{{ disabled[i] ? 'edit' : 'save' }}</mat-icon>
            </button>
            <button mat-mini-fab class="buttonIcon" color="primary" aria-label="Delete" (click)="removeQuestion(question)">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>
</div>
