.container {
    background-color: lightcoral;
    height: 100%;
    padding: 15px;
    margin-bottom: 10px;
    width: 250px;      
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
#list {
    padding: 15px;
    width: auto;
    margin-left: 50px;
}
#disabled {
    display: flex;
    flex-direction: column;
}

.buttonIcon {
    margin: 5px;
}

input[type='text'],
textarea {
    background-color: rgba(255, 255, 255, 0.75);
}

