<div class="top-bar">
    <mat-toolbar color="primary"id="menu-bar">
        <button mat-icon-button color="white" aria-label="Example icon button with a home icon" routerLink="/home">
            <mat-icon>home</mat-icon>
        </button>
        <span class="large-bar-spacer"></span>
        <span *ngIf="dataReady" class="top-bar-text">Modification d'un nouveau jeu!</span>
        <span *ngIf="!dataReady"class="top-bar-text">Création d'un nouveau jeu!</span>
        <span class="large-bar-spacer"></span>
    </mat-toolbar>
</div>

<div id="form">
    <form [formGroup]="gameForm" class="example-form">
        <div id="container">
            <div id="newGame">
                <mat-form-field class="example-full-width">
                    <mat-label>Nom</mat-label>
                    <input id="name" matInput placeholder="Entrer un nom" formControlName="name" required />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Entrer une description du jeu" formControlName="description" required></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Temps de délai</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="10" min="10" max="60" formControlName="time" />
                </mat-form-field>

                <div id="addQuestion">
                    <app-new-question [fromBank]="fromBank"></app-new-question>
                </div>
            </div>
            <div id="modifyingComponent">
                <app-modified-question *ngIf="dataReady" [gameQuestions]="this.gameModified.questions"></app-modified-question>
                <app-modified-question *ngIf="!dataReady"></app-modified-question>
            </div>
        </div>
        <div id="registerGame">
            <button id="registerButton"type="button" (click)="onSubmit()" mat-raised-button color="accent">Enregistrer le jeu</button>
        </div>
    </form>
</div>
