<div class="top-bar">
    <mat-toolbar color="accent" id="menu-bar">
        <button mat-icon-button color="white" aria-label="Example icon button with a home icon" routerLink="/home">
            <mat-icon>home</mat-icon>
        </button>
        <span class="large-bar-spacer"></span>
        <span class="top-bar-text">Création d'un nouveau jeu!</span>
        <span class="large-bar-spacer"></span>
    </mat-toolbar>
</div>

<div id="form">
    <form [formGroup]="gameForm" class="example-form">
        <div id="container">
            <div id="addQuestion">
                <mat-form-field class="example-full-width">
                    <mat-label>Nom</mat-label>
                    <input id="name" matInput placeholder="Entrer un nom" formControlName="name" required />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Entrer une description du jeu" formControlName="description" required></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Temps de délai</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="10" min="10" max="60" formControlName="time" />
                </mat-form-field>
                <button type="button" (click)="toggleAddQuestion()" mat-raised-button color="accent">créer question</button>
                <button type="button" mat-raised-button color="accent">Ajouter de la banque de question</button>

                <div *ngIf="addQuestionShown === true">
                    <app-new-question [onlyAddQuestionBank]="false" *ngIf="addQuestionShown"> </app-new-question>
                </div>
            </div>
            <div id="modifyingComponent">
                <app-modified-question *ngIf="dataReady" [gameQuestions]="this.gameFromDB.questions"></app-modified-question>
            </div>
        </div>
        <div>
            <label>Rendre visible</label>
            <input type="checkbox" formControlName="visibility" />
        </div>
        <div id="registerGame">
            <button type="button" (click)="onSubmit(questions, gameForm)" mat-raised-button color="accent">Enregistrer le jeu</button>
        </div>
    </form>
</div>
