<div id="title">
    <h1>Création d'un nouveau jeu!</h1>
</div>
<div id="form">
    <form class="example-form" [formGroup]="gameForm">
       
            <mat-form-field class="example-full-width">
                <mat-label>Nom</mat-label>
                <input id="name" matInput placeholder="Entrer un nom" formControlName="name" required />
            </mat-form-field>

            <mat-form-field class="example-full-width" floatLabel="always">
                <mat-label>Temps de délai</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="10" min="10" max="60" formControlName="time" />
                <!-- <span matTextPrefix>$&nbsp;</span> -->
                <span matTextSuffix>secondes</span>
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width">
                <mat-label>Temps de délai</mat-label>
                <input matInput placeholder="Temps alloué pour répondre" formControlName="time" />
            </mat-form-field> -->

            <button type="submit" mat-raised-button id="add">Ajouter question</button>

            <!-- <button mat-fab color="accent">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
        </button> -->
       
    </form>
</div>
