.top-bar {
    grid-area: top-bar;
}

.large-bar-spacer {
    flex: 1 1 auto;
}

.top-bar-text {
    font-size: 1.5em;
    font-weight: bold;
}

.example-full-width {
    width: 100%;
}

#form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}

#title {
    display: flex;
    justify-content: center;
}

.add {
    left: 80%;
}

#list {
    left: 15px;
}

.questions {
    background-color: beige;
}

.game-information {
    background-color: azure;
}
#container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
#modifyingComponent {
    display: flex;
    flex: 1;
}
#registerGame {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}
#registerButton {
    width: 25%;
}
#newGame {
    flex: 1;
}

#addQuestion {
    width: 100%;
}
