<header>
    <div id="title">
        <h1>Création d'une nouvelle question!</h1>
    </div>
    <button mat-icon-button color="white" aria-label="Example icon button with a home icon" routerLink="/question-bank">
        <mat-icon>arrow_back</mat-icon>
    </button>
</header>
<button type="button" (click)="toggleAddQuestion()" mat-raised-button color="accent">créer question</button>
<div id="questionForm" *ngIf="addQuestionShown === true">
    <app-new-question [onlyAddQuestionBank]="true" *ngIf="addQuestionShown"> </app-new-question>
</div>
